@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: 21 101 192;
        --secondary: 51 122 183;
        --accent: 245 0 87;
        --content: 0 0 0;
        --background: 236 239 241;
        --background-sec: 255 255 255;
        --background: 236 239 241;
        --edge: 212 216 217;
    }
    body {
        @apply bg-background;
    }
    h2 {
        @apply text-2xl font-bold;
    }
    h3 {
        @apply text-lg font-bold;
    }
    hr {
        @apply border-edge;
    }
    input,
    select,
    button {
        @apply py-2 px-3 rounded-lg text-content focus:outline-none;
    }
}

@layer components {
    .container {
        @apply px-6 mx-auto;
    }
}
